= form_for news_item, url: form_url, html: { method: form_method } do |f|
    = hidden_field :news_item, :representative_id, value: representative_id
    = hidden_field :news_item, :issue, value: issue
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        - @articles.each_with_index do |article, index|
            .col-sm-10
                = radio_button :news_item, :title, article['title']
                %div.ml-2
                    %h5 Title:
                    = label :news_item, :title, article['title'], value: article['title']
                    %br/
                    %br/
                    %h5 Link:
                    %a{href: article['url']}= article['url']
                    %br/
                    %br/
                    %h5 Description:
                    %p= article['description']
                = hidden_field :news_item, :link, value: article['url']
                = hidden_field :news_item, :description, value: article['description']
    
    .actions
        = f.submit 'Save', class: 'btn btn-primary'
